<!DOCTYPE html>
<html>
  <head>
    <title>Happy Nel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 align="center" class="home-head-title">Happy Nel</h1>

    <div class="container-fluid">
      <div class="row" align="center">
        <div style="width: 600px;">
          <% flash.each do |key, value| %>
            <div class="alert-dismissible alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
